.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.packages
.pub/
.pub-cache/
node_modules/
build/
coverage/
**/.DS_Store
**/.idea/
**/.symlinks/
**/.dart_tool/
**/GeneratedPluginRegistrant.*
**/Flutter/ephemeral/
**/Flutter/Generated.xcconfig
**/Pods/
**/Podfile.lock
**/android/local.properties
**/*.iml
archive/legacy-scaffold/apps/api/.venv/
archive/legacy-scaffold/apps/web/.next/
